#Vagrant files
######################
node_modules/**
__MACOSX/**
cookbooks/**

Gruntfile.js
package.json

#Docpad files
######################
docpad/out/
docpad/node_modules/
docpad/docpad.coffee
docpad/package.json
**/test/

#temp files
######################
*.*~
*.log