/************************RESET CSS****************************/
*
{
    font-family: Arial, Verdana, Helvetica;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
body
{
    line-height: 1;

    color: black;
    background: white;
}
ol,
ul
{
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table
{
    border-spacing: 0;
    border-collapse: separate;
}
caption,
th,
td
{
    font-weight: normal;

    text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}
blockquote,
q
{
    quotes: '' '';
}

a
{
    text-decoration: none;
}

#wrapper{
    width:100%;
    background-color: #f8f8f8;
}

/**************************LATEST SERMONS*******************/
.container{
    width:955px;
    height: 540px;
    margin:0px auto;
    padding:53px 0px;
}

.container>h1{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    margin:0px auto 70px;
    text-transform: uppercase;
    position: relative;
}

h1:before {
right: 0.5em;
margin-left: -50%;
}

h1:after {
left: 0.5em;
margin-right: -50%;
}

.container>h1:before,
.container>h1:after{
    background-color: #bbb;
content: "";
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: 238px;
}

.sermon{
    width:955px;
    overflow:hidden;
    padding: 0px 0px 14px 0px;
    border-bottom:1px solid #ededed;
    margin:0px 0px 13px 0px;
}

.sermon>div{
    display: table-cell;
    padding-right:20px;
    vertical-align: middle;
}

.sermon .left-col{
    width:160px;
}

.sermon .mid-col{
    width:660px;
}

.sermon .mid-col h1{
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 1px;
    color:#000000;
}

.sermon .mid-col .details{
    font-size: 13px;
    color: #848484;
    margin-top: 5px;
}

.sermon .mid-col .details a{
    color:#89c700;
}

.sermon .right-col{
    width:300px;
    text-align: right;
    overflow: hidden;
}

.sermon .right-col a{
    font-size: 25px;
    color: #848484;
    margin-right: 8px;
}

.sermon .right-col i{
    width: 60px;
    height: 60px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    text-align: center;
    padding:15px;
}
